.container-architectur{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 4% 10% 4% 10%;
  row-gap:20px;
}

spam {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Courier New";
  font-size: 2.1em;
  text-align: center;
  background-color: none;
  float: top;
  padding-top: 2.5%;
  width: 100%;
  font-weight: lighter;
}

.card{
  width:250px;
  height:315px ;
  overflow: hidden;
  align-items:center ;
  position :relative ;
}
  
.card-img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR11otCGc_0_h6noWVrFf7OBHwZfSQtu363YQ&usqp=CAU");
  width: 100%; 
  height: 100%;
  background-size: cover;

  }
  
.card-body{
  width:250px;
  height:315px;
  top: 0;
  right:-110%;
  overflow: hidden;
  position:absolute;
  background: rgba(13, 66, 109, 0.068);
  backdrop-filter: blur(5px);
  color: white;
  padding:5px;
  display: flex;
  flex-direction :column ;
  justify-content: center ;
  transition : 2s;
  cursor: pointer;
  }
.card:hover .card-body{
  right:0;
  }
  
.card-title{
  text-transform: uppercase; 
  font-family: "Courier New";
  font-size: 50px;
  font-weight:200;
  color: #ff0000;
  align-items:center ;
  }
  
 
.card-btn{
  font-family: "Courier New";
  font-weight: lighter;
  color: black;
  background:rgb(187, 170, 170);
  padding: 10px 20px ;
  border-radius: 5px ;
  text-transform: capitalize ;
  border: none ;
  outline : none ;
  font-weight: 500 ;
  cursor: pointer; 
  width:  100px;
  margin-left: 80px;
}
  